header {
  background-color: #49bbbd;
  margin: auto 120px 50px 120px;
}
.container-main {
  position: relative;
  top: 100px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-main > div{
  width: 25%;
  border: 1px solid black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

div > h1{
  font-size: 64px;
}

div > p{
  font-size: 22px;
}
