body{
    background-color: rgba(157, 204, 255, 0.2);
}
.main{
    margin: auto auto;
    margin-top: 20vh;
    width: 80%;
    height: 600px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 50px;
    color: #49BBBD;
}

.box_main{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.admin{
    margin-top: 70px;
    width: 400px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.9);
    /* border-radius: 20px; */
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.admin .img_admin{
    position: relative;
    top: -80px;
    margin: 0 auto;
    width: 170px;
    height: 170px;
}
.text{
    position: relative;
    top: -70px;
}
.text p:first-child{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 30px;
}
.text p{
    text-align: center;
    font-family: 'Poppins';
    padding:  0px;
    font-weight: 400;
    font-size: 15px;
}